{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="dashboard">
            <h1>{{ categoryName | capitalize }}</h1>
            <a href="{{ url('/category/delete', [categoryId]) }}" class="editCat deleteLink" data-del="category"><span>Delete the category</span></a>

            {% if stores is empty %}
                No Snippet yet
            {% else %}
                <ul class="cardList clearfix">
                    {% for store in stores %}
                        <li>
                            <h3>{{ store.label }}</h3>
                            <span>{{ store.descript | slice(0, 50) }}</span>
                            <span>
                                <a class="icon-pencil" href="{{ url('/stores/edit', [store.id]) }}"></a>
                                <a class="icon-bin deleteLink" data-del="snippet" href="{{ url('/stores/delete', [store.id, store.category_id]) }}"></a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

{% endblock %}
