{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="dashboard">
<<<<<<< Updated upstream
            <h1>{{ categoryName }}</h1>
=======
<<<<<<< HEAD
            <h1>Category</h1>
            <a href="" class="editCat"><span>Edit category</span></a>
=======
            <h1>{{ categoryName }}</h1>
>>>>>>> origin/master
>>>>>>> Stashed changes
            <ul class="cardList clearfix">
                {% for store in stores %}
                    <li>
                        <h3>{{ store.label }}</h3>
                        <span>{{ store.descript | slice(0, 50) }}</span>
                        <span>
                            <a class="icon-attachment" href=""></a>
                            <a class="icon-close" href="{{ url('/stores/delete', [store.id, store.category_id]) }}"></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
