{% extends '_layout/admin.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}
    <div class="container admin">
        <h1>Users List</h1>
        <div class="cardListContainer">
            <ul class="cardList clearfix">
                {% for user in users %}
                    <li>
                        <div class="card_section top">
                            <img src="/{{ user.avatar_url }}" alt=""/>
                            <h3>{{ user.username }}</h3>
                            <p class="role">{{ user.roles.label }}</p>
                        </div>
                        <div class="card_section infos">
                            <p class="name">{{ user.firstname }} {{ user.name }}</p>
                            <p class="mail">{{ user.mail }}</p>
                        </div>
                        <span>
                            <a class="icon-pencil" href="{{ url('/admin/users/edit', [user.id]) }}"></a>
                            <a class="icon-bin deleteLink" data-del="snippet"
                               href="{{ url('/admin/users/delete', [user.id]) }}"></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
