<div class="edit">
    <h1>Edit user</h1>
    {% if messages %}
        <div id="formFeedback">
            <h3>There are some issues : </h3>
            <ul>
                {% for message in messages %}
                    <li>{{ message | raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form">
        <form method="POST" action="{{ url('/admin/users/edit', [values.id]) }}"  id="editForm">
            <div class="form-group">
                <label for="username">Username :</label>
                <input type="text" name="username" placeholder="Username"
                       value="{{ values.username }}" required/>
            </div>
            <div class="form-group">
                <label for="firstname" >Firstname :</label>
                <input type="text" name="firstname" placeholder="FirstName"
                       value="{{ values.firstname }}"  required/>
            </div>
            <div class="form-group">
                <label for="name">Lastname  :</label>
                <input type="text" name="name" placeholder="Lastname"
                       value="{{ values.name }}"  required/>
            </div>
            <div class="form-group">
                <label for="mail">Mail :</label>
                <input type="email" name="mail" placeholder="Mail" value="{{ values.mail }}" required/>
            </div>
            <div class="form-group">
                <label for="birthday">Date of Birth :</label>
                <input class="date" type="date" name="birthday" placeholder="birthday"
                       value="{{ values.date_of_birth }}" required/>
            </div>
            <div class="form-group">
                <label for="role_id">Role :</label>
                <select name="role_id" id="">
                    {% for role in roles %}
                        {% if(role.id == values.role_id) %}
                            <option selected value="{{ role.id }}">{{ role.label }}</option>
                        {% else %}
                            <option value="{{ role.id }}">{{ role.label }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="save"/>
            </div>

        </form>
    </div>
</div>
<div class="datas">
    <p>
        Stores : {{ stores }}
    </p>
    <p>
        Categories : {{ categories }}
    </p>
</div>