{% extends '_layout/admin.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}
<div class="container admin">
    <h1>Administration dasboard</h1>
    <div class="datas">
        <div class="section">
            <div class="left">
                <h3>Users</h3>
                <h2>{{ usersCount }}</h2>
                <a href="{{ url('/admin/users') }}"><i class="icon-pencil"></i> Edit</a>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
        <div class="section">
            <div class="left">
                <h3>Categories</h3>
                <h2>{{ categoriesCount }}/{{ categoriesCountAll }}</h2>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
        <div class="section">
            <div class="left">
                <h3>Snippets</h3>
                <h2>{{ storesCount }}/{{ storesCountAll }}</h2>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
        <div class="section">
            <div class="left">
                <h3>Snippets trackers</h3>
                <h2>{{ trackersStoresCount }}/{{ trackersStoresCountAll }}</h2>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
        <div class="section">
            <div class="left">
                <h3>Links</h3>
                <h2>{{ urlsCount }}/{{ urlsCountAll }}</h2>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
        <div class="section">
            <div class="left">
                <h3>Urls trackers</h3>
                <h2>{{ trackersUrlsCount }}/{{ trackersUrlsCountAll }}</h2>
            </div>
            <div class="right">
                 &nbsp;
            </div>
        </div>
    </div>
</div>
{% endblock %}
