{% extends '_layout/admin.twig' %}

{% block admin_header %}
    {% include '_includes/admin_header.twig' %}
{% endblock %}

{% block content %}
    <div class="admin">

        <div class="datas">
            <div class="tiles">
                <h3>Users</h3>
                <h2>{{ usersCount }}</h2>
            </div>
            <div class="tiles">
                <h3>Categories</h3>
                <h4><span class="value">{{ categoriesCount }}</span> <span class="label">Actives</span></h4>
                <h4><span class="value">{{ categoriesCountAll }}</span> <span class="label">All</span></h4>
            </div>
            <div class="tiles">
                <h3>Snippets</h3>
                <h4><span class="value">{{ storesCount }}</span> <span class="label">Actives</span></h4>
                <h4><span class="value">{{ storesCountAll }}</span> <span class="label">All</span></h4>
            </div>
            <div class="tiles">
                <h3>Snippets Trackers</h3>
                <h4><span class="value">{{ trackersStoresCount }}</span> <span class="label">Actives</span></h4>
                <h4><span class="value">{{ trackersStoresCountAll }}</span> <span class="label">All</span></h4>
            </div>
            <div class="tiles">
                <h3>Links</h3>
                <h4><span class="value">{{ urlsCount }}</span> <span class="label">Actives</span></h4>
                <h4><span class="value">{{ urlsCountAll }}</span> <span class="label">All</span></h4>
            </div>
            <div class="tiles">
                <h3>Links Trackers</h3>
                <h4><span class="value">{{ trackersUrlsCount }}</span> <span class="label">Actives</span></h4>
                <h4><span class="value">{{ trackersUrlsCountAll }}</span> <span class="label">All</span></h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="users">
            <h1>Users</h1>
            <ul id="userslist" class="userslist">
                {#<li>#}
                    {#<div class="card_section top">#}
                        {#<img src="/{{ user.avatar_url }}" alt=""/>#}
                        {#<h3>{{ user.username }}</h3>#}
                        {#<span class="role {{ (user.roles.id == 2)? 'admin' : '' }}">A</span>#}
                    {#</div>#}
                    {#<div class="card_section infos">#}
                        {#<p class="name">{{ user.firstname }} {{ user.name }}</p>#}

                        {#<p class="mail">{{ user.mail }}</p>#}
                    {#</div>#}
                    {#<div class="card_section controls">#}
                        {#<a href="{{ url('/admin/users/edit', [user.id]) }}">#}
                            {#<span class="icon-pencil" ></span>#}
                        {#</a>#}
                        {#<a data-del="snippet" href="{{ url('/admin/users/delete', [user.id]) }}">#}
                            {#<span class="icon-bin deleteLink" ></span>#}
                        {#</a>#}
                        {#<div class="clearfix"></div>#}
                    {#</div>#}
                {#</li>#}
                <div class="clearfix"></div>
            </ul>
            <div class="infinite">
                <a id="load_more" href="#" data-pagination="0">Load More</a>
            </div>
        </div>
    </div>
{% endblock %}
