{% extends '_layout/layout.twig' %}

{% block content %}
    <div id="homePage" class="landing">
        <div class="homeContainer">
            <img src='../assets/images/myDropper-logo.png' id="logo" alt="logo MyDropper">
            <h1>MyDropper.io</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi esse et iusto sequi. Accusantiustrum nenda dolore, eos.</p>

            {% if aside.name %}
                <a href="{{ url('/history') }}" class="ghostBtn btnHome">
                    <span>History</span>
                </a>
                <a href="{{ url('/tracking') }}" class="ghostBtn btnHome">
                    <span>Tracking</span>
                </a>
            {% else %}
                <a href="{{ url('/users/login') }}" class="ghostBtn btnHome">
                    <span>Sign In</span>
                </a>
                <a href="{{ url('/users/subscribe') }}" class="ghostBtn btnHome">
                    <span>Sign Up</span>
                </a>
            {% endif %}

        </div>
        <footer>
            <ul>
                <li><a href="{{ url('/who-we-are') }}">who we are ?</a></li>
                <li><a href="how-it-works.php">How it works ?</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}