{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ asset('js', 'libs/chartist.min.js', false) }}
    {{ asset('js', 'libs/select3.min.js', false) }}
    {{ asset('js', 'views/graphUI.js', false) }}
    {{ asset('js', 'models/model.js', false) }}
    {{ asset('js', 'controllers/trackingCtrl.js', false) }}
{% endblock %}

{% block content %}
    <div class="container trackingContainer">
        <div id="tracking">
            <h1>Tracking</h1>
            <input type="hidden" id="user_id" value="{{ aside.user_id }}"/>
            <h2>
                I am looking for data from " <span id="categoryChoice"></span> " category
            </h2>

            <div class="categoryGraphContainer clearfix">
                <div class="deltaGraphContainer">
                    <div class="inputGroup">
                        <label>From : </label>
                        <input type="date" id="from"/>
                    </div>
                    <div class="inputGroup">
                        <label>To : </label>
                        <input type="date" id="from"/>
                    </div>
                </div>
                <div class="categoryGraph ct-chart">
                </div>
            </div>


            <ul id="snippetGraphList" class="clearfix">

            </ul>
        </div>
    </div>
{% endblock %}