<header>
    <div class="headerContent">{{ aside.name | upper }} {{ aside.firstname | capitalize }}</div>
    <div id="profile">
        <a href="{{ url('/profile') }}">
            <img src="/{{ aside.avatar_url }}" alt="Profile picture">
        </a>
        <ul id="profileMenu">
            <li><a href="{{ url('/profile') }}">Settings</a></li>
            <li><a href="{{ url('/users/logout') }}">Log out</a></li>
        </ul>
    </div>
</header>

<!-- LEFT PART -->
<div id="burger">
    <div id="row1"></div>
    <div id="row2"></div>
    <div id="row3"></div>
</div>

{# ---- data user ---- #}
<span class="hidden" id="users_data">
    <span id="token_api">{{ aside.token_api }}</span>
    <span id="user_id">{{ aside.user_id }}</span>
</span>

<!-- POPIN -->
{% include '_includes/popin.twig' %}


<div id="sideBar">
    <i class="tooltipsCircle" id="tooltipHistory" data-ref="historyLink"></i>
    <i class="tooltipsCircle" id="tooltipTracking" data-ref="trackingLink"></i>
    <i class="tooltipsCircle" id="tooltipCategory" data-ref="categoryElement"></i>
    <div id="tooltipsContent" data-current=''>
        <div id="crossTp" class="tipViewed">&times</div>
        <p>When you drag and drop a snippet from your My Dropper extension to a website, it will be added to your history. This page will be filled as you start using the My Dropper extension designed for Google Chrome. </p>
        <a href="#" class="nextTooltip tipViewed" data-next="">Next</a>
    </div>
    <nav>
        <a href="/"><img src="/assets/images/logoSidebar.png" id="logo" alt="My DropperLogo"/></a>
        <ul id="menu">
            {% if(aside.role_id == 2) %}
                <li class="menuLink {{ (aside.active['path'] == 'admin') ? 'active' : '' }}" id="dashboardLink">
                    <a href="{{ url('/admin') }}"><i class="icon-dashboard"></i> Administration</a>
                </li>
            {% endif %}
            <li class="menuLink {{ (aside.active['path'] == 'history') ? 'active' : '' }}" id="historyLink">
                <a href="{{ url('/history') }}"><i class="icon-dashboard"></i> History</a>
            </li>

            <li class="menuLink {{ (aside.active['path'] == 'tracking') ? 'active' : '' }}" id="trackingLink">
                <a href="{{ url('/tracking') }}"><i class="icon-tracking"></i> Tracking</a>
            </li>

            <li>
                <ul id="categoryList">
                    {% for category in aside.stores %}
                        <li class="categoryElement {{ (aside.active['path'] == 'category' and aside.active['id'] == category.category_id) ? 'active': '' }}">
                            <a href="#" class="categoryName"><i class="icon-folder"></i> {{ category.category_label }}</a>
                            <span class="plusMinus">+</span>
                            <ul class="snippetsList">
                                <li>
                                    <a href="{{ url('/category', [category.category_id]) }}">
                                        <i class="icon-list"></i>
                                        View category
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('/store/add') }}" class="addSnippetLink" data-id="{{ category.category_id }}">
                                        <i class="icon-plus"></i>
                                        Add a snippet
                                    </a>
                                </li>
                                {% for store in category.stores %}
                                    <li class="snippet">
                                        <a href="{{ url('/stores/edit', [store.store_id]) }}">
                                            <i class="icon-tag"></i>
                                            <span class="name">{{ store.store_label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <a href="#" class="button" id="addCategory">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="465" y2="0" />
                <line class="left" x1="0" y1="50" x2="0" y2="-100" />
                <line class="bottom" x1="155" y1="50" x2="-310" y2="50" />
                <line class="right" x1="155" y1="0" x2="155" y2="150" />
            </svg>
            <span>Add a category</span>
        </a>
    </nav>
</div>
